.layout-container {
  display: flex;
  width: 100%;
  display: flex;
  display: flex;
  min-height: 100vh;
  font-family: "Segoe UI", sans-serif;
  background-color: #f9fafb;
  
}

app-sidebar {
  flex-shrink: 0;
  background-color: #f9fafb;
}

.main-content {
  flex-grow: 1;
  overflow-y: auto;
}
