<aside class="sidebar">
  <div class="logo-section">
    <div class="logo">🧬</div>
    <div class="app-name">MedSplain</div>
  </div>

  <div class="user-section">
    <div class="avatar">JS</div>
    <div class="user-info">
      <div class="name">John Smith</div>
      <div class="role">Patient</div>
    </div>
  </div>

  <button class="upload-btn">⬆ Upload Report</button>

  <nav class="nav-links">
   <!--  <a routerLink="/dashboard" routerLinkActive="active">
      <span class="icon">🏠</span> Dashboard
    </a> -->
    <a routerLink="/reports" routerLinkActive="active">
      <span class="icon">📄</span> My Reports
    </a>
<!--     <a routerLink="/notifications" routerLinkActive="active">
      <span class="icon">🔔</span> Notifications
    </a>
    <a routerLink="/settings" routerLinkActive="active">
      <span class="icon">⚙️</span> Settings
    </a> -->
  </nav>
</aside>
