<div class="sidebar">
  <div class="logo-card">
    <a routerLink="/">
      <img
        src="assets/logo.svg"
        alt="MedSplain Logo"
        width="250"
        height="auto"
      />
    </a>
  </div>
  <div class="user-section">
    <div class="avatar-shape"></div>
    <div class="user-info">
      <div class="name">{{ email }}</div>
      <div class="role">Patient</div>
    </div>
  </div>

  <div class="menu-section">
    <button class="btn primary" (click)="uploadFile()">⬆ Upload Report</button>
  </div>

  <div class="footer-actions">
    <button class="btn secondary btn-block" (click)="logout()">Logout</button>
  </div>
</div>
