<ng-container *ngIf="files.length > 0; else noFiles">
  <div class="report-item" *ngFor="let file of files">
    <div class="report-info">
      <h3 class="report-name">{{ file.filename }}</h3>
      <p class="report-meta">
        Uploaded on {{ file.createdAt | date : "medium" }}
      </p>
    </div>
    <div class="report-action">
      <ng-container *ngIf="file.status === 'done'">
        <button class="btn">⬇ Download</button>
      </ng-container>
      <ng-container *ngIf="file.status === 'processing'">
        <span class="spinner"></span>
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-template #noFiles>
  <div class="no-files">
    <p>No uploaded documents found.</p>
  </div>
</ng-template>
<span class="spinner"></span>
