<div class="file-list-container">
  <app-page-header
    title="Uploaded Reports"
    subtitle="Browse your uploaded medical documents"
  >
  </app-page-header>
  <ng-container *ngIf="files.length > 0; else noFiles">
    <div class="report-item" *ngFor="let file of files">
      <div class="report-info">
        <h3 class="report-name">
          <ng-container *ngIf="file.status === 'done'; else plainFilename">
            <span class="filename-link" (click)="fileDetail(file.filename)">
              {{ file.originalFilename }}
            </span>
          </ng-container>
          <ng-template #plainFilename>
            {{ file.originalFilename }}
          </ng-template>
        </h3>
        <p class="report-meta">
          Uploaded on {{ file.createdAt | date : "medium" }}
        </p>
      </div>
      <div class="report-action">
        <button class="btn primary" (click)="fileDownload(file.filename)">
          ⬇ Download
        </button>
        <ng-container *ngIf="file.status === 'done'; else spinnerBlock">
          <button
            class="btn primary btn-green fixed-width-btn"
            (click)="fileDownload(file.filename)"
          >
            ⬇ AI Report
          </button>
        </ng-container>
        <ng-template #spinnerBlock>
          <div class="btn-placeholder">
            <span class="spinner inside"></span>
          </div>
        </ng-template>
      </div>
    </div>
  </ng-container>

  <ng-template #noFiles>
    <div class="no-files">
      <p>No uploaded documents found.</p>
    </div>
  </ng-template>
</div>
